@model ADP.Reporting.Tool.Models.Alphabet

<div class="container-fluid">
    <dl class="row">
        <dt class="col-4 col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-8 col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt class="col-4 col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-8 col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class="col-4 col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class="col-8 col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt class="col-4 col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </dt>
        <dd class="col-8 col-sm-10">
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>

        <dt class="col-4 col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class="col-8 col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt class="col-4 col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>
        <dd class="col-8 col-sm-10">
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>

        <dt class="col-4 col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-8 col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
